body {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 600px;
  position: relative;
  overflow: hidden;
}

.slider {
  width: 4200px;
  height: 500px;
  display: flex;
}

.slide {
  font-size: 50px;
  text-align: center;
  line-height: 500px;
  width: 600px;
  user-select: none;
}

.slide:nth-child(1) {
  background-color: black;
}

.slide:nth-child(2) {
  background-color: red;
}

.slide:nth-child(3) {
  background-color: yellowgreen;
}

.slide:nth-child(4) {
  background-color: yellow;
}

.slide:nth-child(5) {
  background-color: orange;
}

.slide:nth-child(6) {
  color: white;
  background-color: black;
}

.slide:nth-child(7) {
  background-color: red;
}

.buttons {
  display: flex;
  position: absolute;
  bottom: -40px;
  left: 230px;
  z-index: 10;
}

#box {
  position: relative;
}

.btn {
  width: 25px;
  height: 25px;
  background-color: lightgrey;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
  outline: none;
  border: 0;
}

.btn:hover {
  background-color: black;
}

#prev,
#next {
  position: absolute;
  height: 60px;
  padding: 0 20px;
  border-radius: 10px;
  font-weight: bold;
}

#next {
  top: 250px;
  right: -100px;
}

#prev {
  top: 250px;
  left: -100px;
}
